<!DOCTYPE html>
<html>
<head>
  <title>AuthApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
 		<h2><%= link_to root_path do%> Authorization application <% end %> </h2>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<ul class="nav navbar-nav navbar-right">
    		<% if current_user %>
    	
    			<li><%= link_to "Profile" , profile_path %></li>
    			<li>Signed in as: <% current_user.name %>  <%= image_tag(@auth['info']['image'], width: '70', height: '70', class: 'img-circle') %> </li> 
    			<li><%= link_to "Sign out", sign_out_path, mehtod: :delete %></li>
    		
    		<% else %>
    			<li>Sign in with:   <span> <%= link_to "auth/facebook" do %><%= image_tag('facebook.png', width: '50', height: '50', class: 'img-circle') %> <% end %></span></li>
    		<% end %>
		</ul>
    </div>
  </div>
</nav>

<% flash.each do |key,value| %>
	<div class="alert alert-info"> <%= value %></div>
<% end %>

<% if current_user %>
	<div class="text-center">
		<h1>Wellcome, <%= current_user.name %></h1>
		<h4> Logged in with <strong><em><%= @auth['provider'].capitalize %></em></strong> </h4>
		<%= image_tag(@auth['info']['image']) %>
	</div>
<% end %>

<%= yield %>

</body>
</html>
